CONFIG_ARCH_SDM845=y
CONFIG_MSM_CAMERA_COMMON=y
CONFIG_VIDEO_IMX371=m
CONFIG_VIDEO_IMX376=m
CONFIG_VIDEO_IMX519=m
CONFIG_VIDEO_LC898217XC=m
CONFIG_QCOM_CSI_PHY=y
CONFIG_QCOM_CAMERA_SELFTEST=n
CONFIG_V4L2_MEM2MEM_DEV=y
CONFIG_VIDEOBUF2_VMALLOC=y
CONFIG_VIDEO_MEDIATEK_JPEG=m
CONFIG_VIDEO_MSM_ISP_HW_SECURE_CAM=n